* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 800px;
    background-color: #FFFFFF;
    font-family: 'Source Sans Pro', sans-serif; 
    background-image: url('./images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: auto;
    margin-top: 27.76px;
    margin-left: 160px;

}

.hamburger-icon {
    display: none;
    cursor: pointer;
    padding: 2.5rem;
    position: relative;
    user-select: none;
}

.navicon {
    background: #FFFFFF; 
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    position: relative;
    transition: background 0.2s ease-out;
}

.navicon:before,
.navicon:after {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    background: #FFFFFF;
    transition: all 0.2s ease-out;
}

.navicon:before {
    top: 0.7rem;
    width: 1.75rem;
}

.navicon:after {
    top: -0.7rem;
    width: 2rem;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 255px;
    height: 15px;
    
}
.menu a {
    text-decoration: none; 
    font-size: 12px; 
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
    transition:0.3s;
}
.menu a:hover {       
       color: #FF6565;
}

.Title{
    display: flex;
    max-width: 637px;
    height: 313px;
    color: #FFFFFF;
    margin-top: 240px;
    margin-left: 350px;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
        
}

.Title h1{
    font-size: 32px;
    font-weight: 700px;
    max-width: 578px;
    height: auto;
     
}

.Title p{
    max-width: 355px;
    height: auto;
    font-size: 16px;
    font-weight: 700; 

}

.Title button{
    margin-top: 50px;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    background-color: #FF6565;
    color: #FFFFFF;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 3px 3px 10px 3px rgba(0.25,0.25,0.25,0.25);

}

.Title button:hover{
    opacity: 0.9;
}

.text {
    display: flex;
    margin-left: 360px;
    margin-top: -16px;
    max-width: 637px;
    height: auto;
    text-align: center; 
    line-height: 26px; 
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
    
.menu-toggle {
    display: none;
}

.hamburger-icon {
    cursor: pointer;
}





@media screen and (max-width: 768px) {

        header {
            max-width: 633px;
            margin-left: 50px;
        }

            
        .Title {
            margin: auto;
            margin-top: 255px;
            max-width: 578px; 
            text-align: center; 
        }

        .text {
            margin: auto;
            margin-top: -35px;
            max-width: 637px; 
            text-align: center; 
        }

    
     
}


@media screen and (max-width: 480px) {

    header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
      margin-left: -15px;
    }

    body {
        min-width: 375px;
        background-position: 35% 80%;
         

    }
    .Title {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 200px;

}

    .text {
        margin-left: 10px;
        margin-right: 10px;
        
    }

     .hamburger-icon {
        display: block;
       
    }

    .menu {
        display: none;  
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .menu-toggle:checked ~ .menu {
        display: flex;
        position: absolute;
        left: 50%;
        top: 18%;
        transform: translateX(-50%);
        
    }
    
    .menu-toggle:checked ~ .hamburger-icon .navicon {
        background: transparent; 
        
    }
    
    .menu-toggle:checked ~ .hamburger-icon .navicon:before {
        transform: rotate(45deg); 
        top: 0; 
        width: 2rem;
    }
    
    .menu-toggle:checked ~ .hamburger-icon .navicon:after {
        transform: rotate(-45deg); 
        top: 0; 
        width: 2rem;
    }
}




